* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*import fonts */
@font-face {
    font-family: "Octocat Bold";
    src: url(./fonts/SpaceMono-Bold.ttf)
}

@font-face {
    font-family: "Octocat Reg";
    src: url(./fonts/SpaceMono-Regular.ttf);
}

body {
    height: 100vh;
    background: #f6f8ff;
}

/* Mobile view 375 x 777 */
/* header style starts here */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}


.logo {
    font-family: "Octocat Bold";
    font-size: 26px;
    line-height: 38px;
    color: #2b3442;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    font-family: "Octocat Bold";
    color: #697c9a;
    font-size: 22px;
    line-height: 38px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.dark-icon {
    height: 23px;
    width: 23px;
}

/* Search form box style starts here */
.form-group {
    width: 95%;
    border: none;
    border-radius: 1em;
    padding: .5em;
    margin: 0em 1em;
    background: #fefefe;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.5fr;
    justify-content: center;
    align-items: center;
}
.form-control {
    border: none;
    font-family: "Octocat Reg";
    font-size: 13px;
    line-height: 20px;
    
}

.form-control:hover {
    cursor: pointer;
}
.form-control:focus {
    outline: none;
}

.form-group__searchBtn {
    cursor: pointer;
    background: #0079ff;
    border: none;
    border-radius: 1em;
    font-family: "Octocat Bold";
    color: #fefefe;
    width: 7em;
    height: 4em;
}

.search-status-label {
    /* visibility: hidden; */
    display: none;
}


