* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*import fonts */
@font-face {
    font-family: "Octocat Bold";
    src: url(./fonts/SpaceMono-Bold.ttf)
}

@font-face {
    font-family: "Octocat Reg";
    src: url(./fonts/SpaceMono-Regular.ttf);
}

/* light mode color */
:root {
    --blue: #0079FF;
    --grey: #697C9A;
    --blue-grey: #4B6A9B;
    --darkblue: #2B3442;
    --background: #F6F8FF;
    --foreground: #FEFEFE;
}

.dark {
    --darkblue: #FFFFFF;
    --grey: #FFFFFF;
    --background: #141d2e;
    --foreground: #1E2A47;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}

body {
    height: 90vh;
    background: #f6f8ff;
}

/* Mobile view 375 x 777 */
/* header style starts here */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2em 1em;
}


.logo {
    font-family: "Octocat Bold";
    font-size: 26px;
    line-height: 38px;
    color: #2B3442;
    font-weight: 500;
}

ul {
    list-style: none;
}

ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.25em;
    text-decoration: none;
    font-family: "Octocat Bold";
    color: #697c9a;
    font-size: 0.9em;
    line-height: 38px;
    word-spacing: 5px;
    letter-spacing: 2px;
}


.dark-icon {
    margin-left: 1em;
    height: 23px;
    width: 23px;
}

/* SEARCH FORM BOX style starts here */
.form-group {
    border: none;
    border-radius: 0.8em;
    padding: .5em 0.5em 0.5em 1em;
    margin: 0em 1em;
    background: #fefefe;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px hsl(217, 20%, 81%);
}
.form-control {
    border: none;
    font-family: "Octocat Reg";
    font-size: 0.8125em;
    line-height: 1.25em;
    color: #2B3442;
}

.form-control:hover {
    cursor: pointer;
}
.form-control:focus {
    outline: none;
}

.form-group__searchBtn {
    width: 5.25em;
    height: 2.875em;
    cursor: pointer;
    background: #0079ff;
    border: none;
    border-radius: 0.6em;
    font-family: "Octocat Bold";
    color: #fefefe;
    font-size: 0.9em;
    font-weight: 500;
}

.form-group__searchBtn:hover {
    opacity: 0.5;
}

.search-status-label {
    display: none;
}

.info__container {
    margin: 1em;
    padding: 2em 1em;
    border-radius: 1em;
    background: #FEFEFE;
    box-shadow: 0px 5px 15px hsl(217, 20%, 81%);
}

/* USER PROFILE HEADER */
.octocat-picture {
    display: none;
}

.info__profilePicture {
    display: flex;
}

.info__ProfilePic img {
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
}

.info__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    width: 100%;
}

.info__title h2 {
    font-family: "Octocat Bold";
    font-size: 1.625em;
    line-height: 1.2em;
    font-weight: 500;
    color: #2B3442;
}

.info__title a {
    text-decoration: none;
    font-family: "Octocat Reg";
    font-size: 0.8em;
    color: #0079ff;
}

.info__title p {
    font-family: "Octocat Reg";
    font-size: 0.75em;
    line-height: 1.8em;
    color: #697c9a;
}

/* USER BODY DESCRIPTION  */
.info__result {
    width: 100%;
    display: flex;
}

.info__user p {
    font-family: "Octocat Reg";
    font-size: 0.9em;
    line-height: 1.8em;
    padding: 2.125em 0em;
    color: #697c9a;
}

/* USER STATS */
.info__stats {
    background: #f6f8ff;
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    padding: 1em 2em;
    text-align: center;
    line-height: 2em;
    font-family: "Octocat Bold";
    font-size: 1em;
    color: #2B3442;
}

.info__stats span::first-line {
    font-family: "Octocat Reg";
    font-size: 0.85em;
    color: #697c9a;
}

/* USER LOCATION */
.info__location {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0em;
    font-family: "Octocat Reg";
    font-size: 0.9em;
    line-height: 0.9em;
    color: #2B3442;
}

.info__location span {
    padding: 0.5em 0em;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2B3442;
}

.info__location span img {
    padding-right: 1.12em;
}

.info__location span img.dark {
    filter: invert(40%) brightness(10);
}

.location img {
    padding-right: 1.43em !important;
}

.twitter img {
    opacity: 0.5;
}

.info__location span a {
    text-decoration: none !important;
    color: #2B3442;
}

.info__location span a, .website-name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.twitter {
    color: hsl(217, 20%, 71%) !important;
}

/* Tablet size 768 x 1024 */
@media screen and (min-width: 768px) {
    /* center */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* header */
    .main-head {
        max-width: 35.125em;
    }
    /* body */
    .container {
        max-width: 35.125em;
        max-height: 37.75em;
    }
    .form-group {
        padding-right: 0.6em;
        grid-template-columns: 0.2fr 1.5fr 0.1fr;
    }
    .form-control {
        font-size: calc(0.8125em + 0.5vw);
        line-height: 1.25em;    
    }
    .form-group__searchBtn {
        width: 6.56em;
        height: 3.06em;
        font-size: calc(0.9em + 0.5vw);
    }

    /* body information picture and title */
    .info__container {
        padding: 2em;
    }
    .info__ProfilePic img {
        width: 7.125em;
        height: 7.4375em;
    }
    .info__title h2 {
        font-weight: 500;
    }
    .info__title a {
        font-size: 1.125em;
    }
    .info__container p {
        font-size: 0.9em;
        line-height: 1.5em;
    }
    /* User stats */
    .info__stats {
        text-align: left;
        line-height: 1.3em;
        padding: 0.4em 1.5em;
        font-size: 1.5em;
    }
    .info__stats span::first-line {
        font-size: 0.5em;
    }
    /* User location */
    .info__location {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;
        width: 100%;
    }
}

/* Desktop size 1440 x 900 */
@media screen and (min-width: 1440px) {
    /* header */
    .main-head {
        max-width: 46.25em;
    }
    /* body */
    .container {
        max-width: 46.25em;
    }

    /* Octocat profile picture */
    .info__container {
        display: flex;
        flex-direction: row;
    }
    .octocat-picture {
        display: unset;
        padding-right: 30px;
    }
    .octocat-picture img {
        width: 7.4em;
        height: 7.4em;
        border-radius: 50%;
    }
    .info__ProfilePic img {
        display: none;
    }
    .info__title {
        padding-left: 0em;
        flex-wrap: wrap;
        height: 60px;
    }
    .info__title p {
        font-size: 1.1em;
        height: 50px;
        display: inline-flex;
        justify-content: flex-end;
    }
}