* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*import fonts */
@font-face {
    font-family: "Octocat Bold";
    src: url(./fonts/SpaceMono-Bold.ttf)
}

@font-face {
    font-family: "Octocat Reg";
    src: url(./fonts/SpaceMono-Regular.ttf);
}

body {
    height: 100vh;
    background: #f6f8ff;
}

/* Mobile view 375 x 777 */
/* header style starts here */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}


.logo {
    font-family: "Octocat Bold";
    font-size: 26px;
    line-height: 38px;
    color: #2b3442;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    font-family: "Octocat Bold";
    color: #697c9a;
    font-size: 0.9em;
    line-height: 38px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.dark-icon {
    height: 23px;
    width: 23px;
}

/* SEARCH FORM BOX style starts here */
.form-group {
    width: 92%;
    border: none;
    border-radius: 1em;
    padding: .5em;
    margin: 0em 1em;
    background: #fefefe;
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 0.5fr;
    justify-content: center;
    align-items: center;
}
.form-control {
    border: none;
    font-family: "Octocat Reg";
    font-size: 13px;
    line-height: 20px;
    
}

.form-control:hover {
    cursor: pointer;
}
.form-control:focus {
    outline: none;
}

.form-group__searchBtn {
    cursor: pointer;
    background: #0079ff;
    border: none;
    border-radius: 1em;
    font-family: "Octocat Bold";
    color: #fefefe;
    width: 7em;
    height: 4em;
}

.search-status-label {
    display: none;
}

.info__container {
    margin: 1em;
    padding: 2em 1em;
    border-radius: 1em;
    background: #fefefe;
}

/* USER PROFILE HEADER */
.info__profilePicture {
    display: flex;
}

.info__profilePicture img {
    width: 4.5em;
    height: 4.5em;
    border-radius: 50%;
}

.info__title {
    padding-left: 1em;
    width: 100%;
}

.info__title h2 {
    font-family: "Octocat Bold";
    font-size: 1.625em;
    line-height: 1.1em;
}

.info__title a {
    text-decoration: none;
    font-family: "Octocat Reg";
    font-size: 0.8em;
}

.info__title p {
    font-family: "Octocat Reg";
    font-size: 0.75em;
    line-height: 1.8em;
    color: #697c9a;
}

/* USER BODY DESCRIPTION  */
.info__result {
    width: 100%;
    display: flex;
}

.info__user p {
    font-family: "Octocat Reg";
    font-size: 0.9em;
    line-height: 1.5625em;
    padding: 2.125em 0em;
    color: #697c9a;
}

/* USER STATS */
.info__stats {
    background: #f6f8ff;
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    padding: 1.2em 2em;
    text-align: center;
    line-height: 2em;
    font-family: "Octocat Bold";
    font-size: 1em;
}

.info__stats span::first-line {
    font-family: "Octocat Reg";
    font-size: 0.85em;
    color: #697c9a;
}

.info__location {
    display: flex;
    flex-direction: column;
    padding: 1.5em 0em;
    font-family: "Octocat Reg";
    font-size: 0.9em;
    line-height: 0.9em;
    color: #697c9a;
}

.info__location span {
    padding: 0.5em 0em;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info__location span img {
    padding-right: 10px;
}

.location img {
    padding-right: 15px !important;
}

.twitter img {
    opacity: 0.5;

}

.info__location span a {
    text-decoration: none;
    color: #697c9a;
}

.twitter {
    color: hsl(217, 20%, 71%);
}